@model IEnumerable<WebSiteProje.Models.Okul>

@{
    ViewData["Title"] = "Okul";
    Layout = "_LayoutAdmin";
}

<div class="card-body">
    <h3>Okul Bilgileri</h3>
</div>
<div>
    <div class="card-body">
        <p>
            <a asp-action="OkulCreate">Oluştur </a><br />
        </p>
    </div>
    <div class="card">
        <div class="card-body">
            <h6>Okul Bilgileri</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.okulAd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.okulTarih)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.okulTur)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.okulInfo)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.okulAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.okulTarih)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.okulTur)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.okulInfo)
                            </td>
                            <td>
                                <a asp-action="OkulEdit" asp-route-id="@item.okulId">Edit</a> |
                                <a asp-action="OkulDetails" asp-route-id="@item.okulId">Details</a> |
                                <a asp-action="OkulDelete" asp-route-id="@item.okulId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
