@model WebSiteProje.Models.Okul

@{
    ViewData["Title"] = "OkulDelete";
    Layout = "_LayoutAdmin";
}

<div class="card-body">
    <h1>Sil</h1>
    <h3>Okul Bilgileri</h3>
    <h5>Silmek istediğinize emin misiniz?</h5>
</div>

<div class="card">
    <div class="card-body">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.okulAd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.okulAd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.okulTarih)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.okulTarih)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.okulTur)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.okulTur)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.okulInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.okulInfo)
            </dd>
        </dl>
        <div class="card-body">
            <form asp-action="OkulDelete">
                <input type="hidden" asp-for="okulId" />
                <input type="submit" value="Sil" class="btn btn-danger" /> |
                <a asp-action="Okul">Geri</a>
            </form>
        </div>
    </div>
</div>
