@model WebSiteProje.Models.SliderFoto

@{
    ViewData["Title"] = "SliderDetails";
    Layout = "_LayoutAdmin";
}

<div class="card-body">
    <h1>Detaylar</h1>
    <h3>Slider Bilgileri</h3>
</div>
<div class="card">
    <div class="card-body">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fotoUrl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fotoUrl)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fotoBaslik)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fotoBaslik)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fotoAciklama)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fotoAciklama)
            </dd>
        </dl>
    </div>
</div>
<div class="card-body">
    <a asp-action="SliderEdit" asp-route-id="@Model.sliderFotoId">Düzenle</a> |
    <a asp-action="Admin">Geri</a>
</div>
