@model WebSiteProje.Models.Sosyal

@{
    ViewData["Title"] = "SosyalDetails";
    Layout = "_LayoutAdmin";
}

<div class="card-body">
    <h1>Detaylar</h1>
    <h3>Sosyal Medya Bilgileri</h3>
</div>
<div class="card">
    <div class="card-body">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.sosyalUrl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.sosyalUrl)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.sosyalTur)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.sosyalTur)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.sosyalInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.sosyalInfo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.sosyalFooter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.sosyalFooter)
            </dd>
        </dl>
    </div>
</div>
<div class="card-body">
    <a asp-action="SosyalEdit" asp-route-id="@Model.sosyalId">Düzenle</a> |
    <a asp-action="Admin">Geri</a>
</div>
