<div class="page-content">
    <div class="section" id="icerik">
        <div class="container">
            <div class="card" data-aos="fade-up" data-aos-offset="10">
                <div class="row">
                    <div class="card-body col-lg-12 col-md-12">
                        <div class="h2 mt-0 title">Tüm İçerikler</div>
                        @foreach (var item in Model.Blog)
                        {
                            <a asp-area="" asp-controller="Home" asp-action="Blog" asp-fragment="@item.idName"><p><h6>@item.baslik</h6></p></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model.Blog)
    {
        @if (item.blogTur == "buyuk")
        {
            <div class="section" id="@item.idName">
                <div class="container">
                    <div class="card" data-aos="fade-up" data-aos-offset="10">
                        <div class="row">
                            <div class="card-body col-lg-12 col-md-12">
                                @if (item.fotoUrl == null)
                                {
                                    <div class="h4 mt-0 title"> <a href="../Blog/Icerik?text=@item.idName">@item.baslik</a></div>
                                }
                                else
                                {
                                    <div class="h4 mt-0 title">@item.baslik</div>
                                }
                                <p class="category text-black">@item.altBaslik</p>
                                @if (item.iframeUrl != null)
                                {
                                    <div class="card-body">
                                        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive embed-responsive-16by9" src="@item.iframeUrl"></iframe></div>
                                    </div>
                                }
                                @if (item.fotoUrl != null)
                                {

                                    <div class="card-body">
                                        <a href="../Blog/Icerik?text=@item.idName"><img src="@item.fotoUrl"></a>
                                    </div>
                                }
                                <div class="card-body">
                                    <p><strong>Açıklama : </strong> @item.aciklama</p>
                                    @if (item.uyari != null)
                                    {
                                        <p><strong>UYARI : @item.uyari</strong></p>
                                    }
                                    <p><strong>@item.linkAciklama : <a href="@item.icerikLinki" target="_blank">@item.icerikLinki</a></strong>@item.boyut</p>
                                    <p>Çıkış Tarihi : <h7>@item.eklemeTarihi</h7></p>
                                    @if (item.degistirmeTarihi != null)
                                    {
                                        <p>Son Değiştirilme Tarihi : <h7>@item.degistirmeTarihi</h7></p>
                                    }
                                    @if (item.surum != null)
                                    {
                                        <p>Sürüm : <h7>@item.surum</h7></p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (item.blogTur == "kucuk")
        {
            <div class="section" id="@item.idName">
                <div class="container">
                    <div class="card" data-aos="fade-up" data-aos-offset="10">
                        <div class="row">
                            <div class="card-body col-lg-12 col-md-12">
                                <div class="h4 mt-0 title">@item.baslik</div>
                                <p class="category text-black">@item.altBaslik</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6">
                                            <div class="card-body">
                                                <a href="../Blog/Icerik?text=@item.idName"><img src="@item.fotoUrl"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="card-body">
                                                <p><strong>Açıklama : </strong>@item.aciklama</p>
                                                @if (item.uyari != null)
                                                {
                                                    <p><strong>UYARI : @item.uyari</strong></p>
                                                }
                                                <p><strong>@item.linkAciklama : <a href="@item.icerikLinki" target="_blank">@item.icerikLinki</a></strong> @item.boyut</p>
                                                <p>Çıkış Tarihi : <h7>@item.eklemeTarihi</h7></p>
                                                @if (item.degistirmeTarihi != null)
                                                {
                                                    <p>Son Değiştirilme Tarihi : <h7>@item.degistirmeTarihi</h7></p>
                                                }
                                                @if (item.surum != null)
                                                {
                                                    <p>Sürüm : <h7>@item.surum</h7></p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="section" id="devam">
        <div class="container">
            <div class="card" data-aos="fade-up" data-aos-offset="10">
                <div class="row">
                    <div class="card-body col-lg-12 col-md-12">
                        <div class="h4 mt-0 title">Dahası yeni projelerle..</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>